<% if signed_in? %>
  <div class="row">
    	<section>
        <%= render 'shared/task_form' %>
      </section>
    	<section>
        <%= render 'shared/todo_list' %>
      </section>
  </div>  
<% else %>

<div class="center hero-unit">
	<h1>The Productivenator</h1>
	
	<h2>
		Turning procrastination into productivity.
	</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>