<% provide(:title, 'Create Your To-Do List') %>
<h1>Create Your To-Do List</h1>
<form>
	<label> 1.
		<input type="text" name="q">
	</label>
	<label> for
		<input type="hour" name="r">
	</label>
	<label> hour(s)
	</label>
</form>
