<h1>My To-Do List</h1>
<% if @todo_items.any? %>
  <ol class="tasks">
    <%= render partial: 'shared/todo_item', collection: @todo_items %>
  </ol>

  <h5>Total:</h5>
  <p><%= pluralize(current_user.tasks.count, "task")%> left to do </p>
  
<% end %>